<eds-system-bar
  [title]="'KStack With NGRX'"
  [acronym]="'KS'"
  [username]="'ensaimr'"
  (settingsHandler)="settingsHandler()"
>
  <eds-system-bar-items
    ><button
      style="margin-right: 20px;"
      [routerLink]="['/post']"
      eds-button
      class="primary"
    >
      Post Question
    </button>
    <eds-switch
      style="margin:0px 60px;"
      [(ngModel)]="isLightTheme"
      (ngModelChange)="toggleTheme($event)"
    >
      <eds-switch-on>
        <div style="color: whitesmoke">
          Light
        </div>
      </eds-switch-on>
      <eds-switch-off>
        <div tyle="color: gray">
          Dark
        </div>
      </eds-switch-off>
    </eds-switch>
  </eds-system-bar-items>
</eds-system-bar>
<main>
  <eds-settings [opened]="settingsOpened">
    <div class="profile">
      <i class="icon icon-profile"></i>
      <div class="username">ensaimr</div>
    </div>
    <div class="content">
      <div class="title">Details</div>
      <div class="row">
        <div class="left">
          Email
        </div>
        <div class="right">
          srimaharshi.s.manchem@ericsson
        </div>
      </div>

      <div class="row">
        <div class="left">
          BU Unit
        </div>
        <div class="right">
          RNAM
        </div>
      </div>
    </div>
    <div class="bottom">
      <button eds-button class="big warning" [routerLink]="['/login']">
        <i class="icon icon-log-out"></i> Sign out
      </button>
    </div>
  </eds-settings>
  <div
    class="app"
    [ngClass]="{ 'slide-right': !settingsOpened, 'slide-left': settingsOpened }"
  >
    <eds-app-bar [menuOpened]="menuOpened" (menuHandler)="menuHandler()">
    </eds-app-bar>
    <div class="appbody">
      <div class="appnav" [ngClass]="{ hidden: !menuOpened }">
        <eds-tree mode="navigation">
          <eds-tree-item route="/" (click)="menuHandler()">Home</eds-tree-item>
          <eds-tree-item route="/contributions">Contributions</eds-tree-item>
          <!-- <eds-tree-item route="dashboard"></eds-tree-item
          >
          <eds-sub-tree>
            <eds-sub-tree-title>Group of pages</eds-sub-tree-title>
            <eds-tree-item>Example 1</eds-tree-item>
            <eds-tree-item>Example 2</eds-tree-item>
            <eds-tree-item>Example 3</eds-tree-item>
          </eds-sub-tree> -->
        </eds-tree>
      </div>
      <div class="appcontent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
