<div class="row sm-12 lg-12 xl-12">
  <div class="tile sm-12 lg-12 xl-12">
    <div class="row sm-12 lg-12 xl-12">
      <div class="sm-1 xl-1 lg-1" style="display: flex;justify-content:center;vertical-align: middle;">
        <i [ngClass]="post.favorite ? 'icon icon-favorite-solid' : 'icon icon-favorite'" style="font-size: 24px;align-self: center;"></i> <p style="padding: 0px;margin: 0px;vertical-align: middle">20</p>
      </div>
      <div class="sm-10 xl-10 lg-10 div-title">
        <h3>{{ post.title }}</h3></div>
      <div class="sm-1 lg-1 xl-1" >
        <table>
          <tr style="width: 100%;height: 100%;">

            <td>
              20
            </td>
            <td>
              1
            </td>

          </tr>
          <tr>

            <td>
              Views
            </td>
            <td>
              Answers
            </td>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row sm-12 lg-12 xl-12">
    <div class="tile sm-12 lg-12 xl-12">
      <div class="row sm-12 lg-12 xl-12">
  <div class="sm-1 xl-1 lg-1"></div>
  <div class="sm-10 lg-10 xl-10">
    <p style="margin-top: 40px;font-size: 18px">
      {{post.description}}
    </p>

    <div class="xl-12">
      <h5>Attachments</h5>

      <a target="_blank" href="../../../assets/eds-angular-issue.PNG">
        <img
          src="../../../assets/eds-angular-issue.PNG"
          alt="eds angular"
          style="width:150px"
        />
      </a>
    </div>

    <div class="xl-12">
      <h5>Tags</h5>
      <button
        *ngFor="let tag of tags"
        class="btn"
        style="margin-left: 0px;margin-right: 4px;margin-bottom: 4px;"
      >
        {{ tag }}
      </button>
    </div>


    <div class="xl-12">
      <h5 style="text-align: right;margin: 5px 0px">Posted by</h5>
      <div style="text-align: right">SriMaharshi Manchem</div>
      <div style="text-align: right">srimaharshi.s.manchem@ericsson.com</div>
      <div style="text-align: right">{{post.createdOn | date: 'dd/MMM/yyyy'}}</div>
    </div>

    <div class="xl-12">
      <h4>Comments</h4>
      <p
        *ngFor="let comment of comments"
        style="padding: 10px;margin: 0px 100px; border-top: 1px solid #eff0f1"
      >
        {{ comment }}
      </p>
      <a
        style="margin: 5px 100px"
        *ngIf="!showCommentBox; else commentBox"
        (click)="showCommentBox = !showCommentBox"
        >add comment</a
      >
      <ng-template #commentBox>
        <div style="margin: 0px 100px;" class="row xl-12">
          <textarea
            #addCommentText
            class="column xl-9"
            placeholder="Add Comment" style="border: 1px solid"></textarea>

          <div class="coulmn xl-2">
            <button
              eds-button
              class="row"
              style="width: 100%"
              (click)="addComment(addCommentText.value); addCommentText.value = ''">
              Add Comment
            </button>
            <button
              eds-button
              class="row"
              style="width: 100%;margin-left: 0px"
              (click)="showCommentBox = !showCommentBox"
            >
              Cancel
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="sm-1 xl-1 lg-1"></div>
</div>
</div>
</div>

<div class="row sm-12 lg-12 xl-12">
    <div class="tile sm-12 lg-12 xl-12">
      <div class="row sm-12 lg-12 xl-12">
  <div class="sm-1 xl-1 lg-1"></div>
  <div class="sm-10 lg-10 xl-10">
    <div class="sm-12 lg-12 xl-12">
      <div class="row sm-12 lg-12 xl-12 bottom-divider">
        <h2 class="title-header">Answers</h2>
      </div>

      <div class="row sm-12 lg-12 xl-12 bottom-divider">
        <div class="xl-12">
          <h3>Try below steps</h3>
          <div>
            1. Run this command  npm config set @eds:registry https://arm.rnd.ki.sw.ericsson.se/artifactory/api/npm/proj-eds-npm-local <br />
            2. npm i @eds/install
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sm-1 xl-1 lg-1"></div>
</div>
</div>
</div>

<div class="row sm-12 lg-12 xl-12">
    <div class="tile sm-12 lg-12 xl-12">
      <div class="row sm-12 lg-12 xl-12">

        <div class="sm-1 lg-1 xl-1">

        </div>

        <div class="sm-10 lg-10 xl-10">
            <div class="row sm-12 lg-12 xl-12">
                <h2 class="title-header">Post Answers</h2>
              </div>

              <div class="row sm-12 lg-12 xl-12">
                <div class="column sm-12 lg-12 xl-12">
                  <textarea
                    style="width: 100%;resize: none;height: 200px;white-space: pre-wrap;"
                    placeholder="Please type here"
                  ></textarea>
                </div>

                <div class="column sm-12 lg-12 xl-12">
                  <button eds-button class="primary">Submit</button>
                </div>
              </div>
        </div>
        <div class="sm-1 lg-1 xl-1">

          </div>

  </div>
</div>
</div>
