<!-- <div class="layout-container">
  <div class="watermark">
    <i class="icon icon-econ"></i>
    <div class="product">KStack</div>
  </div>
  <div class="component-layout">
    <input placeholder="Email Address" type="email" />
    <input placeholder="Password" type="password" />

    <button eds-button color="primary" [routerLink]="['/home']">Sign In</button>
  </div>

  <div class="footer">
    © Ericsson AB 2013-2018 - All Rights Reserved. <br />
    No part of this software may be reproduced in any form without the written
    permission of the copyright holder.
  </div>
</div> -->

<div class="signin">
  <div class="watermark">
    <i class="icon icon-econ"></i>
    <div class="product">KStack</div>
  </div>

  <div class="error hidden">Invalid username and/or password.</div>
  <div [formGroup]="loginform" class="inputform">
    <input
    formControlName="username"
      type="text"
      name="username"
      id="username"
      placeholder="Signum"
      required
    />

    <input
    formControlName="password"
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      tabindex="0"
      required
    />

    <button eds-button class="primary" (click)="onSignInClicked()" [routerLink]="['/']">
      Sign in
    </button>

    <div class="help">
      <a href="#" class="subtle-link">Having trouble signing in?</a>
    </div>
  </div>

  <div class="footer">
    © Ericsson AB 2013-2018 - All Rights Reserved. <br />
    No part of this software may be reproduced in any form without the written
    permission of the copyright holder.
  </div>
</div>
