.div-searchbar {
  display: flex;
  flex-direction: row;
  flex: 10;

  .input-group{
    flex: 8
  }

  .btn-filter {
    flex: 1;
  }
}

table {
  width: 100%;

  tr {
    td {
      width: 50%;

      &.td-value {
        font-size: 30px;
      }
    }
  }
}

.h4-stats {
  margin: 15px 0px 5px 0px;
  color: #f78521;
}
