<div class="container">

  <div class="left-side-bar">

    <div class="div-my-stats">

      <h5>Your Stats</h5>

      <table>

        <tr>
          <td>Answers</td>
          <td>10</td>
        </tr>

        <tr>
            <td>Assists</td>
            <td>40</td>
          </tr>

          <tr>
              <td>Reach</td>
              <td>990</td>
            </tr>

      </table>
      <h5>Top Individual Stats</h5>
      <table>

          <tr>
            <td>Answers</td>
            <td>100</td>
          </tr>

          <tr>
              <td>Assists</td>
              <td>300</td>
            </tr>

            <tr>
                <td>Reach</td>
                <td>8976</td>
              </tr>

        </table>




    </div>

    <div class="div-my-tags">
      <div>Tags Here</div>
      <button>Angular</button><button>5G</button><button>Network</button><button>Router</button>

      </div>

  </div>

  <div class="main-bar">

      <div class="div-filter">
          <input id="search" placeholder="search" type="text"> <label for="search">Filter</label>
        </div>

        <div class="div-posts">
          <div>Value, No of Answers, Reach</div>
          <h3>Question goes here</h3>
          <div>Tag1 Tag2 Tag3</div>
          <div>Created time and Author details.</div>
          <div>Attachments preview<button>Attach</button></div>
          <div>Clarifications<button>Comment</button></div>
        </div>

  </div>

</div>
