<div class="row xl-12">
  <div class="column sm-12 lg-4 xl-3">
    <div eds-tile class="xl-12">
      <eds-tile-title>Your Stats</eds-tile-title>
      <table>
        <tr>
          <td>Answers</td>
          <td>10</td>
        </tr>

        <tr>
          <td>Assists</td>
          <td>40</td>
        </tr>

        <tr>
          <td>Reach</td>
          <td>990</td>
        </tr>
      </table>

      <h5>Top Individual Stats</h5>
      <table>
        <tr>
          <td>Answers</td>
          <td>100</td>
        </tr>

        <tr>
          <td>Assists</td>
          <td>300</td>
        </tr>

        <tr>
          <td>Reach</td>
          <td>8976</td>
        </tr>
      </table>
    </div>

    <div eds-tile class="xl-12">
      <eds-tile-title>Tags</eds-tile-title>
      <button>Angular</button><button>5G</button><button>Network</button
      ><button>Router</button>
    </div>
  </div>

  <div class="column sm-12 lg-8 xl-9">
    <div class="tile fullwidth div-searchbar">
      <input id="searchbar" placeholder="Search" /><label for="searchbar"
        ><button eds-button>Search</button></label
      >
      <button eds-button class="primary">
        Filter <i class="icon icon-filter"></i>
      </button>
    </div>

    <div eds-tile class="tile fullheight fullwidth">
      <eds-tile-title>Recent Questions</eds-tile-title>

      <app-post-item></app-post-item>
      
    </div>
  </div>
</div>
